a{
    text-decoration: wavy;
    color: blueviolet;
}
body{
   background:pink;
    color:green;
}
h1,h2,h3{
    color:purple;
    font-style: italic;
    text-align: center;
}
p{
    font:caption;
    color: black;
    text-align: right;
}
#Nhom1{
    text-align: center;
    color: aqua;
}
#Nhom2{
    text-align: center;
    color:blueviolet;
}
.Nhom{
    text-decoration: solid;
    color: red;
}